langchain==0.3.25
langchain-community==0.3.24
langchain-google-community==2.0.7
langchain-google-vertexai==2.0.24
langchain-chroma==0.2.4
protobuf==5.29.4
pypdf==5.5.0
langchain-google-genai==2.1.4
google-genai==1.16.1